@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    background-color: #55DFC110 ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #2d3436;
}

.container{
    width: 100%;
    max-width: 500px;
    background-color: #55DFC140;
    border-radius: 10px;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    color: #333;
    /*border: 1px solid red;*/
}
.inputContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /*border: 1px solid red;*/
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
input:focus {
    border-color: #55DFC1FF;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    transform: translateY(-2px);
}
button[type="submit"]{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #55DFC1FF;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}
button[type="submit"]:hover{
    background-color: #55DFC1FF;
    transform: translateY(-1px);
    transition: 0.3s ease;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
button[type="submit"]:active{
    transform: translateY(1px);
}

#bookmarkList{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*border: 1px solid #ccc;*/
}

#bookmarkList li{
    /*background: linear-gradient(190deg, rgba(245, 239, 230, 0.5) 10%, rgba(60, 60, 60, 0.5) 50%);*/
    /*background: linear-gradient(190deg, rgba(245, 239, 230, 0.5) 10%, rgba(255, 127, 80, 0.5) 50%);*/
    /*background: linear-gradient(190deg, rgba(245, 239, 230, 0.5) 10%, rgba(100, 149, 137, 0.5) 50%);*/
    /*background: linear-gradient(190deg, rgba(245, 239, 230, 0.5) 10%, rgba(196, 174, 165, 0.5) 50%);*/
    /*background: linear-gradient(190deg, rgba(245, 239, 230, 0.5) 10%, rgba(255, 182, 193, 0.5) 50%);*/
    /*background: linear-gradient(190deg, rgba(245, 239, 230, 0.5) 10%, rgba(176, 196, 222, 0.5) 50%);*/
    background: linear-gradient(190deg, rgba(245, 239, 430, 0.9) 10%, rgba(168,176, 468, 0.9) 50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
#bookmarkList li:hover{
    transform: translateY(-2px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}
#bookmarkList li:active{
    background-color: #55DFC1FF;
    transform: translateY(1px);
}

#bookmarkList a{
    color: dimgray;
    text-decoration: none;
    font-size: 1.1rem;
    padding-left: 14px;
    font-weight: 300;
}

#bookmarkList li:hover a{
    transition: 0.5s ease;
    font-family: poppins, sans-serif;
    font-weight: 600;
    transform: translateX(30px);


}

#bookmarkList button{
    color: lightslategray;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}
#bookmarkList button:hover{
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.3s ease;
    font-family: poppins, sans-serif;
    font-weight: 600;
    transform: translateY(-1px);
}
#bookmarkList button:active{
    transform: translateY(1px);
}
